include ../dropdown-form/dropdown-form
include ../drawing-options-panel/drawing-options-panel

mixin task()
  div(class=["task"])
    div(class=["task__options-bar"])
      div(class=["task__dropdown-form"])
        +dropdown-form()
      div(class=["task__drawing-options-panel"])
        +drawing-options-panel()
    div(class=["task__canvases"])
      canvas(class=["task__map-canvas"])
      canvas(class=["task__result-canvas"])
      canvas(class=["task__temp-canvas"])
      canvas(class=["task__cursor-canvas"])