include ../dropdown-form/dropdown-form

mixin task()
  div(class=["task"])
    canvas(class=["task__canvas"])
    canvas(class=["task__canvas"])
    div(class=["task__dropdown-form"])
      +dropdown-form