.form-input {
  width: 100%;
  display: flex;
  border: 1px solid black;
  background: white; }
  .form-input__index {
    cursor: default;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-right: 1px solid black; }
  .form-input__input {
    width: 100%;
    padding: 10px;
    outline: none;
    background: transparent;
    font-family: Merriweather, Georgia, serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
    .form-input__input:-webkit-autofill, .form-input__input:-webkit-autofill:hover, .form-input__input:-webkit-autofill:focus,
    .form-input__input textarea:-webkit-autofill,
    .form-input__input textarea:-webkit-autofill:hover,
    .form-input__input textarea:-webkit-autofill:focus,
    .form-input__input select:-webkit-autofill,
    .form-input__input select:-webkit-autofill:hover,
    .form-input__input select:-webkit-autofill:focus {
      border: 0rem solid rgba(255, 255, 255, 0);
      -webkit-text-fill-color: rgba(31, 32, 65, 0.75);
      box-shadow: 0 0 0rem 62.5rem rgba(255, 255, 255, 0) inset;
      transition: background-color 5000s ease-in-out 0s;
      color: rgba(31, 32, 65, 0.75); }

.dropdown-form {
  width: 100%;
  height: max-content;
  position: absolute; }
  .dropdown-form__drop-button {
    cursor: pointer;
    width: 320px;
    height: 50px;
    background: #e2e2e2;
    border: 1px solid black;
    outline: none; }
    .dropdown-form__drop-button:hover {
      background: #aaaaaa; }
  .dropdown-form__arrow {
    font-family: 'Material Icons';
    font-size: 30px;
    transition: transform 0.7s ease-in-out; }
    .dropdown-form__arrow_opened {
      transform: rotate(180deg); }
  .dropdown-form__form {
    width: 320px;
    position: absolute;
    padding: 0px 20px;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 0px 13px 12px 0px rgba(0, 0, 0, 0.5);
    background: #e2e2e2;
    overflow-y: hidden;
    border: 0rem solid rgba(31, 32, 65, 0.5);
    animation: close-dropdown-list 1s ease-in-out forwards;
    animation-delay: -0.5s; }
    .dropdown-form__form_opened {
      border: 0.0625rem solid rgba(31, 32, 65, 0.5);
      border-top: 0rem;
      animation: open-dropdown-list 1s ease-in-out forwards; }

@keyframes open-dropdown-list {
  from {
    max-height: 0px; }
  1% {
    max-height: 0px;
    border: 0.0625rem solid rgba(31, 32, 65, 0.5);
    border-top: 0rem; }
  to {
    max-height: 50rem; } }

@keyframes close-dropdown-list {
  from {
    max-height: 50rem;
    border: 0.0625rem solid rgba(31, 32, 65, 0.5);
    border-top: 0rem; }
  99% {
    max-height: 0px;
    border: 0.0625rem solid rgba(31, 32, 65, 0.5);
    border-top: 0rem; }
  to {
    max-height: 0px;
    border: 0rem solid rgba(31, 32, 65, 0.5); } }
  .dropdown-form__input {
    margin-bottom: 10px; }
    .dropdown-form__input:first-of-type {
      margin-top: 10px; }
  .dropdown-form__save-button {
    cursor: pointer;
    z-index: 9999;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    background: #4848bd;
    border-radius: 4px;
    border: 2px solid black;
    outline: none;
    font-size: 30px;
    font-weight: bold; }
    .dropdown-form__save-button:hover {
      background: #242499; }

.drawing-options-panel {
  display: flex;
  align-items: flex-end;
  padding: 20px; }
  .drawing-options-panel__radio-buttons {
    width: 120px;
    height: 50px;
    position: relative;
    margin-right: 10px; }
  .drawing-options-panel__eraser {
    cursor: pointer;
    z-index: 2;
    width: 50px;
    height: 50px;
    position: absolute;
    /* right: 50px; */
    right: 10px;
    opacity: 0; }
    .drawing-options-panel__eraser:checked ~ .drawing-options-panel__eraser-image {
      background: #7953ac;
      box-shadow: 1px 4px 13px 3px black; }
  .drawing-options-panel__brush {
    cursor: pointer;
    z-index: 2;
    width: 50px;
    height: 50px;
    position: absolute;
    opacity: 0; }
    .drawing-options-panel__brush:checked ~ .drawing-options-panel__brush-image {
      background: #7953ac;
      box-shadow: 1px 4px 13px 3px black; }
  .drawing-options-panel__eraser-image {
    width: 50px;
    height: 50px;
    font-family: 'Material Icons';
    font-size: 50px;
    background: white;
    border-radius: 4px;
    position: absolute;
    /* right: 50px; */
    right: 10px;
    box-shadow: 0px 3px 7px 0px black;
    color: black; }
  .drawing-options-panel__brush-image {
    width: 50px;
    height: 50px;
    font-family: 'Material Icons';
    font-size: 50px;
    background: white;
    border-radius: 4px;
    position: absolute;
    box-shadow: 0px 3px 7px 0px black;
    color: black; }
  .drawing-options-panel__opacity-input-container {
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-right: 15px; }
  .drawing-options-panel__opacity-input-title {
    font-size: 20px;
    font-weight: bold;
    color: black; }
  .drawing-options-panel__opacity-input {
    width: 100%;
    height: 50px;
    padding: 5px 15px;
    font-size: 30px;
    outline: none;
    box-shadow: 0px 3px 7px 0px black;
    border-radius: 4px; }
  .drawing-options-panel__brush-size-input-container {
    width: 150px;
    display: flex;
    flex-direction: column; }
  .drawing-options-panel__brush-size-input-title {
    font-size: 20px;
    font-weight: bold;
    color: black; }
  .drawing-options-panel__brush-size-input {
    width: 100%;
    height: 50px;
    padding: 5px 15px;
    font-size: 30px;
    outline: none;
    box-shadow: 0px 3px 7px 0px black;
    border-radius: 4px; }

/* @import '../dropdown-form/dropdown-form.scss'; */
.task {
  width: 100%;
  height: 100%;
  position: relative;
  /* color: rgb(78, 92, 124); */ }
  .task__map-canvas, .task__result-canvas, .task__temp-canvas, .task__cursor-canvas {
    position: absolute; }
  .task__dropdown-form {
    position: absolute; }
  .task__drawing-options-panel {
    position: absolute;
    right: 0px; }

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.eot);
  src: url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff2) format("woff2"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.woff) format("woff"), url(src/assets/fonts/MaterialIcons/MaterialIcons-Regular.ttf) format("truetype"); }

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: 300;
  src: url(src/assets/fonts/Merriweather/merriweather-300.eot);
  src: url(src/assets/fonts/Merriweather/merriweather-300.woff2) format("woff2"), url(src/assets/fonts/Merriweather/merriweather-300.woff) format("woff"), url(src/assets/fonts/Merriweather/merriweather-300.ttf) format("truetype"); }

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: normal;
  src: url(src/assets/fonts/Merriweather/merriweather-regular.eot);
  src: url(src/assets/fonts/Merriweather/merriweather-regular.woff2) format("woff2"), url(src/assets/fonts/Merriweather/merriweather-regular.woff) format("woff"), url(src/assets/fonts/Merriweather/merriweather-regular.ttf) format("truetype"); }

@font-face {
  font-family: "Merriweather";
  font-style: normal;
  font-weight: bold;
  src: url(src/assets/fonts/Merriweather/merriweather-bold.eot);
  src: url(src/assets/fonts/Merriweather/merriweather-bold.woff2) format("woff2"), url(src/assets/fonts/Merriweather/merriweather-bold.woff) format("woff"), url(src/assets/fonts/Merriweather/merriweather-bold.ttf) format("truetype"); }

/* @include setFont('Montserrat', normal, normal, '../assets/fonts/Montserrat/montserrat-regular');
@include setFont('Montserrat', normal, bold, '../assets/fonts/Montserrat/montserrat-bold');
@include setFont('Quicksand', normal, normal, '../assets/fonts/Quicksand/quicksand-regular');
@include setFont('Quicksand', normal, bold, '../assets/fonts/Quicksand/quicksand-bold');
@include setFont('OpenSans', normal, normal, '../assets/fonts/OpenSans/open-sans-regular');
@include setFont('OpenSans', normal, bold, '../assets/fonts/OpenSans/open-sans-bold');
 */

*,
*:after,
*:before {
  margin: 0px;
  padding: 0px;
  border: 0px;
  box-sizing: border-box; }

html {
  font-family: Merriweather, Georgia, serif;
  font-size: 16px;
  color: rgba(31, 32, 65, 0.75);
  background: #f6f3f3; }

html,
body {
  min-width: 100%;
  display: flex;
  flex-direction: column; }



/*# sourceMappingURL=demo.css.map*/