mixin drawing-options-panel()
  div(class=["drawing-options-panel"])
    input(class=["drawing-options-panel__eraser"] name="brush_type" type="radio" data-name="eraser")
    input(class=["drawing-options-panel__brush"] name="brush_type" type="radio" data-name="brush")
    input(class=["drawing-options-panel__opacity-input"])