extends ../base/base

include ../../components/task/task

block title
  title Кинотеатр

block body
  div(class=["demo"])
    +task()
    // object(class=["task__svg"] type="image/svg+xml" data="./src/data/images/world.svg") Your browser does not support SVG
    // +map() include ../../task/map