extends ../base/base

include ../../task/canvases

block title
  title Кинотеатр

block body
  div(class=["demo"])
    +canvases()
    // object(class=["task__svg"] type="image/svg+xml" data="./src/data/images/world.svg") Your browser does not support SVG
    // +map() include ../../task/map