$color-dark-brown: rgb(64, 52, 50);
$color-brown: rgb(119, 103, 99);
$color-light-brown: rgb(193, 180, 177);
$color-red-brown: rgb(91, 58, 50);

$color-black-brown: rgb(52, 48, 48);
$color-gray: rgb(159, 159, 159);
$color-dark-gray: rgb(85, 85, 85);
$color-dark-white: rgb(244, 246, 249);
