mixin form-input(options = {})
  -
    const {
      index = -1,
      text = 'DEFAULT',
    } = options;

  div(class=["form-input"])
    div(class=["form-input__index"])= index
    input(
      class=["form-input__input"]
      type="text"
      placeholder="географическое название"
      value=text
    )